<header class="header">
  <div class="header__logo" routerLink="/">‘merce</div>
  <div class="header__nav">
    <div class="header__subtitle">SOCIAL<span>:CENTRE</span></div>
    <div class="header__title">latest</div>
    <div class="header__pagination" *ngIf="showNav$ | async">
      <button class="prev-page">
        <img src="assets/svg/icons__arrow--left--white.svg" />
      </button>
      <div>
        <span class="current">01</span>
        <span class="total">/ 06</span>
      </div>
      <button class="next-page">
        <img src="assets/svg/icons__arrow--right--white.svg" />
      </button>
    </div>
  </div>
</header>
