<div class="row">
  <div class="col-6" *ngFor="let post of postList">
    <div class="card post-list">
      <div class="card__header">
        <div class="rounded-circle rounded-circle--gradient">
          <img src="assets/svg/card__icon.svg" />
        </div>
      </div>
      <div class="card__body">
        <div class="card__title">{{ post.title }}</div>
        <div class="card__text">
          {{ post.body }}
        </div>
      </div>
      <div class="card__footer" (click)="goTo(post)">
        <span class="footer-text">Zobacz</span>
        <img src="assets/svg/arrow--upright--black.svg" />
      </div>
    </div>
  </div>
</div>
