<div class="row">
  <div class="col-12 col-md-6" *ngFor="let post of postList">
    <div class="card card--active mb-5">
      <div class="card__header">
        <div class="card__rounded-circle card__rounded-circle--gradient">
          <img src="assets/svg/card__icon.svg" />
        </div>
      </div>
      <div class="card__body">
        <div class="card__title">{{ post.title }}</div>
        <div class="card__text">
          {{ post.body }}
        </div>
      </div>
      <div class="card__footer" (click)="goTo(post)">
        <span class="card__footer-text">Zobacz</span>
        <img
          class="card__footer-icon-upright"
          src="assets/svg/arrow--upright--black.svg"
        />
      </div>
    </div>
  </div>
</div>
