$white: #fff !default;
$black: #041c26;
$bg-base: #5522e8;
$bg-glass: rgba(250, 250, 250, 0.16);
$border-glass: rgba(250, 250, 250, 0.25);
$email-color: #5522e8;
$card-shadow: rgba(24, 11, 55, 0.25);
$card-shadow-active: rgba(13, 4, 35, 0.5);
$gradient-start: #c8ff46;
$gradient-stop: #97ff46;
$bg-gradient-start: rgba(113, 34, 232, 0);
$bg-gradient-stop: rgba(113, 34, 232, 0.9375);
