@font-face {
  font-family: "Oswald";
  src: url("../../fonts/ExtraLight/Oswald-ExtraLight.woff2") format("woff2"),
    url("../../fonts/ExtraLight/Oswald-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../../fonts/Medium/Oswald-Medium.woff2") format("woff2"),
    url("../../fonts/Medium/Oswald-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../../fonts/SemiBold/Oswald-SemiBold.woff2") format("woff2"),
    url("../../fonts/SemiBold/Oswald-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../../fonts/Bold/Oswald-Bold.woff2") format("woff2"),
    url("../../fonts/Bold/Oswald-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../../fonts/Light/Oswald-Light.woff2") format("woff2"),
    url("../../fonts/Light/Oswald-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../../fonts/Regular/Oswald-Regular.woff2") format("woff2"),
    url("../../fonts/Regular/Oswald-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/ExtraBold/Inter-ExtraBold.woff2") format("woff2"),
    url("../../fonts/ExtraBold/Inter-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/Black/Inter-Black.woff2") format("woff2"),
    url("../../fonts/Black/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/Bold/Inter-Bold.woff2") format("woff2"),
    url("../../fonts/Bold/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/Light/Inter-Light.woff2") format("woff2"),
    url("../../fonts/Light/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/Medium/Inter-Medium.woff2") format("woff2"),
    url("../../fonts/Medium/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/ExtraLight/Inter-ExtraLight.woff2") format("woff2"),
    url("../../fonts/ExtraLight/Inter-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/Regular/Inter-Regular.woff2") format("woff2"),
    url("../../fonts/Regular/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/Thin/Inter-Thin.woff2") format("woff2"),
    url("../../fonts/Thin/Inter-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
