.asymetric-column {
  position: absolute;
  top: 0;
  left: 30%;
  right: 20%;
  min-height: 100%;
  padding-top: 72px;
  padding-bottom: 72px;
  @include media-breakpoint-down(md) {
    left: 5%;
    right: 5%;
    padding-top: 64px;
    padding-bottom: 144px;
  }

  .glass {
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    min-height: 100%;
    background: $bg-glass;
    @include glass-background();
  }

  .row {
    position: relative;
  }
}
