.asymetric-column {
  position: absolute;
  top: 0;
  left: 30%;
  right: 20%;
  min-height: 100%;
  padding-top: 72px;
  padding-bottom: 72px;
  @include media-breakpoint-down(md) {
    left: 5%;
    right: 5%;
  }

  .glass {
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    min-height: 100%;
    background: rgba(250, 250, 250, 0.16);
    border-right: 1px solid rgba(250, 250, 250, 0.25);
    border-left: 1px solid rgba(250, 250, 250, 0.25);
    box-sizing: border-box;
    backdrop-filter: blur(4px);
  }

  .row {
    position: relative;
  }
}

.card {
  color: #041c26;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 16px 24px rgba(24, 11, 55, 0.25);
  transition: 400ms linear;

  &__header {
    padding: 24px 24px 0 24px;

    &--black {
      display: flex;
      justify-content: space-between;
      background: #041c26;
      height: 72px;
      margin-bottom: 24px;
      box-sizing: border-box;
      @include media-breakpoint-down(xl) {
        height: 64px;
      }
    }
  }

  &__close {
    cursor: pointer;

    img {
      @include media-breakpoint-down(xl) {
        width: 17px;
        height: 17px;
      }
    }
  }

  &__body {
    padding: 24px 48px 48px 48px;
    @include media-breakpoint-down(xl) {
      padding: 24px 32px 32px 32px;
    }

    .card__title {
      font-family: "Oswald";
      font-weight: 300;
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 24px;
      @include media-breakpoint-down(xl) {
        font-size: 24px;
        line-height: 28px;
      }
    }
    .card__text {
      font-weight: normal;
      font-size: 20px;
      line-height: 32px;
      @include media-breakpoint-down(xl) {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 48px;
    @include primary-gradient();
    cursor: pointer;
    @include media-breakpoint-down(xl) {
      padding: 20px 32px;
    }

    .footer-text {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      text-decoration-line: underline;
      @include media-breakpoint-down(xl) {
        font-size: 16px;
        line-height: 19px;
      }
    }

    &-icon-upright {
      @include media-breakpoint-down(xl) {
        height: 32px;
        width: 32px;
      }
    }
  }

  &__add-comment {
    @include primary-gradient();
  }

  &.post-list:hover {
    transform: translateY(-10px);
    box-shadow: 0px 36px 48px rgba(13, 4, 35, 0.5);
  }
}

.rounded-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: none;
  @include media-breakpoint-down(xl) {
    height: 64px;
    width: 64px;
  }

  img {
    @include media-breakpoint-down(xl) {
      transform: scale(0.65);
    }
  }

  &--gradient {
    @include primary-gradient();
  }

  &--black {
    background: #041c26;
  }
}
