<div class="row">
  <div class="col">
    <div class="card">
      <div class="card__header card__header--black">
        <div class="rounded-circle rounded-circle--gradient">
          <img src="assets/svg/card__icon.svg" />
        </div>
        <div class="card__close" (click)="goToPostList()">
          <img src="assets/svg/icons__close--white.svg" />
        </div>
      </div>
      <div class="card__body" *ngIf="post && post.id === postId">
        <div class="card__title">{{ post.title }}</div>
        <div class="card__text">{{ post.body }}</div>
      </div>
      <div class="card__comments">
        <div class="comments">
          <div class="comments__header">
            <div class="comments__title">Comments</div>
          </div>
          <div class="comments__list">
            <div class="row" *ngFor="let comment of commentList">
              <div class="col-4 comments__user">
                <div class="comments__username">{{ comment.name }}</div>
                <div class="comments__email">{{ comment.email }}</div>
              </div>
              <div class="col-8 comments__body">{{ comment.body }}</div>
            </div>
          </div>
          <div class="comments__add">
            <div class="comments__add-icon">
              <div class="rounded-circle rounded-circle--black">
                <img src="assets/svg/icons__comments__add--icon.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
