<div class="row">
  <div class="col">
    <div class="card">
      <div class="card__header card__header--black">
        <div class="card__rounded-circle card__rounded-circle--gradient">
          <img src="assets/svg/card__icon.svg" />
        </div>
        <div class="card__close" (click)="goToPostList()">
          <img src="assets/svg/icons__close--white.svg" />
        </div>
      </div>
      <div class="card__body" *ngIf="post && post.id === postId">
        <div class="card__title">{{ post.title }}</div>
        <div class="card__text">{{ post.body }}</div>
      </div>
      <app-comments></app-comments>
    </div>
  </div>
</div>
