<div class="asymetric-column">
  <div class="glass"></div>
  <div class="row">
    <div class="col-6">
      <div class="card post-list">
        <div class="card__body">
          <div class="post-title">Title</div>
          <div class="post-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ea
            quod tenetur eveniet numquam, quam obcaecati facilis esse mollitia
            repellat. Quibusdam dicta amet itaque vitae dolores non laudantium
            et neque?
          </div>
        </div>
        <div class="card__footer">
          <span class="footer-text">Zobacz</span>
          <img src="assets/svg/arrow--upright--black.svg" />
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card post-list">
        <div class="card__body">
          <div class="post-title">Title</div>
          <div class="post-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ea
            quod tenetur eveniet numquam, quam obcaecati facilis esse mollitia
            repellat. Quibusdam dicta amet itaque vitae dolores non laudantium
            et neque?
          </div>
        </div>
        <div class="card__footer">
          <span class="footer-text">Zobacz</span>
          <img src="assets/svg/arrow--upright--black.svg" />
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card post-list">
        <div class="card__body">
          <div class="post-title">Title</div>
          <div class="post-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ea
            quod tenetur eveniet numquam, quam obcaecati facilis esse mollitia
            repellat. Quibusdam dicta amet itaque vitae dolores non laudantium
            et neque?
          </div>
        </div>
        <div class="card__footer">
          <span class="footer-text">Zobacz</span>
          <img src="assets/svg/arrow--upright--black.svg" />
        </div>
      </div>
    </div>
  </div>
</div>
